pandas==2.2.2
numpy==1.26.4
requests==2.32.3
pybaseball==2.2.7
gspread==6.1.4
google-auth==2.35.0
google-auth-oauthlib==1.2.1
scipy==1.13.1
matplotlib==3.9.2
lxml==5.3.0
beautifulsoup4==4.12.3
pyarrow==17.0.0
tqdm==4.66.5
